doctype 5
html
  head
    title Catbot 1.0
    meta(name="viewport", content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel="stylesheet", href="/styles/catbot.css")
  body
    #pad
      #thumb    
    script(src="/scripts/jquery.min.js")
    script(src="/scripts/jquery-ui.min.js")
    script(src="/scripts/jquery.ui.touch-punch.min.js")
    script(src="/scripts/catbot.js")
    script(src="/scripts/socket.io.min.js")
